/* Author: MANISHA RANI */
body {
    background-color: #fff;
    
}

.navbar {
    background-color: black !important;
    color: whitesmoke ;
    margin: 10px !important;
}

.main {
	box-align: center;
	display: grid;
    color: #000;
    margin: 100px;
    padding: 20px;
    background-color: greenyellow;
}
